* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	font-size: 0.7em;
}

li:hover {
	color: lime;
}

.head {
	display: flex;
	min-height: 5vh;
}

.headLeft {
	background-color: black;
	flex: 1;
}

.headImage {
	background-color: black;
	flex: 1;
	justify-content: flex-start;
	align-content: center;
	margin: 0;
	padding: 7px;
}

.headmenu {
	display: flex;
	flex: 1;
}

.headMenu ul {
	display: flex;
	color: white;
	background-color: black;
	margin: 0;
	padding: 18px;
	gap: 1.5rem;
	list-style: none;
	flex-direction: row;
}

.headRight {
	background-color: black;
	flex: 1;
}

.main {
	display: flex;
	min-height: 60vh;
}

.mainLeft {
	display: flex;
	background-color: rgb(56, 51, 171);
	flex: 1;
	margin: 0;
	padding: 0px;
	justify-content: flex-start;
}

.mainMiddle {
	display: flex;
	flex: 3;
	background-color: rgb(56, 51, 171);
	margin: 0;
	padding: 30px;
	justify-content: center;
}

.mainRight {
	display: flex;
	background-color: rgb(56, 51, 171);
	flex: 1;
	margin: 0;
	padding: 0px;
	justify-content: flex-end;
}

.lowerMenu {
	display: flex;
	min-height: 30vh;
}

.lowerLeft {
	background-color: black;
	flex: 1.5;
	padding: 30px;
	padding-top: 200px;
}

.lowerMiddleA {
	flex: 0.5;
	background-color: black;
	padding: 15px;
}

.lowerMiddleB {
	flex: 0.5;
	background-color: black;
	padding: 15px;
}

.lowerMiddleB ul {
	color: white;
	background-color: black;
	margin: 0;
	padding: 0px;
	gap: 1rem;
	list-style: none;
	line-height: 3em;
}

.lowerMiddleC {
	flex: 0.5;
	background-color: black;
	padding: 15px;
}

.lowerMiddleC ul {
	color: white;
	background-color: black;
	margin: 0;
	padding: 0px;
	gap: 1rem;
	list-style: none;
	line-height: 3em;
}

.lowerMiddleD {
	flex: 0.5;
	background-color: black;
	padding: 15px;
}

.lowerMiddleD ul {
	color: white;
	background-color: black;
	margin: 0;
	padding: 0px;
	gap: 1rem;
	list-style: none;
	line-height: 3em;
}

.lowerMiddleE {
	flex: 0.5;
	background-color: black;
	padding: 15px;
}

.lowerRight {
	background-color: black;
	flex: 1.5;
	padding: 30px;
	padding-top: 200px;
}

.footer {
	display: flex;
	min-height: 5vh;
	justify-content: center;
	align-items: center;
}

.footA {
	background-color: Black;
	flex: 1;
}

.footB {
	background-color: black;
	flex: 2;
}

.footB ul {
	display: flex;
	color: grey;
	background-color: black;
	margin: 0;
	padding: 18px;
	gap: 2rem;
	list-style: none;
	flex-direction: row;
}

.footC {
	background-color: Black;
	flex: 1;
}

@media (max-width: 700px) {
}
