* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: monospace;
}

.head {
	display: flex;
	min-height: 5vh;
}

.headLeft {
	background-color: lightgreen;
	flex: 1;
}

.headImage {
	background-color: black;
	flex: 1;
	justify-content: flex-start;
	align-items: center;
}

.headmenu {
	display: flex;
	flex: 1;
}

.headMenu li {
	color: white;
	background-color: black;
	flex-direction: row;
	list-style: none;
}

.headRight {
	background-color: lightgoldenrodyellow;
	flex: 1;
}

.main {
	display: flex;
	min-height: 60vh;
}

.mainLeft {
	background-color: lightblue;
	flex: 1;
	padding: 30px;
	padding-top: 200px;
}

.mainLeft li {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.mainMiddle {
	flex: 3;
	background-color: white;
	padding: 15px;
}

.mainRight {
	background-color: lightblue;
	flex: 1;
	padding: 30px;
	padding-top: 200px;
}

.lowerMenu {
	display: flex;
	min-height: 30vh;
}

.lowerLeft {
	background-color: blue;
	flex: 1;
	padding: 30px;
	padding-top: 200px;
}

.lowerMiddle {
	flex: 3;
	background-color: gray;
	padding: 15px;
}

.lowerRight {
	background-color: blue;
	flex: 1;
	padding: 30px;
	padding-top: 200px;
}

.footer {
	display: flex;
	min-height: 5vh;
	justify-content: center;
	align-items: center;
}

.footA {
	background-color: lightgreen;
	flex: 1;
}

.footB {
	background-color: lightsteelblue;
	flex: 1;
}

.footC {
	background-color: lightcyan;
	flex: 1;
}

.footD {
	background-color: lightgoldenrodyellow;
	flex: 1;
}

@media (max-width: 700px) {
	.container {
		flex-direction: column;
	}

	.boxb {
		display: none;
	}

	.boxc {
		display: none;
	}
}
